<nav>
    <a class="logo" href="/">
        <img src="/public/img/logo/Nav-Trace_logo.png" alt="logo Nav Trace">
    </a>
    <ul>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <a class="login" href="/connexion">Se Connecter</a>
</nav>
<div class="burger">

</div>
<aside>

</aside>