<nav>
    <a class="logo" href="/">
        <img src="/public/img/logo/Nav-Trace_logo.png" alt="logo Nav Trace">
    </a>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/boutique">Boutique</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
        <li class="panier"><a class="login" href="/panier">Panier <img src="/public/img/elements/panier_noir.png" alt="Panier d'article"><span style="color: green;" class="quantite-total"><% if(typeof panier != 'undefined'){ %><%= panier.quantite_total %><% }else{ %>0<% } %></span></a></li>
        <li><a class="login" href="/admin">Admin</a></li>
    </ul>
</nav>
<div class="burger visible">
    <span></span>
    <span></span>
    <span></span>
</div>
<aside>
    <a class="logo" href="/">
        <img src="/public/img/logo/Nav-Trace_logo.png" alt="logo Nav Trace">
    </a>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/boutique">Boutique</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
        <li class="panier"><a href="/panier">Panier <img src="/public/img/elements/panier_blanc.png" alt="Panier d'article"><span style="color: green;" class="quantite-total"><% if(typeof panier != 'undefined'){ %><%= panier.quantite_total %><% }else{ %>0<% } %></span></a></li>
        <li><a class="login" href="/admin">Admin</a></li>
    </ul>
</aside>

<script src="/public/js/navBurger.js"></script>