<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Trace</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="shortcut icon" href="/public/img/logo/Nav-Trace_logo_noname.png" type="image/x-icon">
</head>
<body>
    <% if(user){ %>
        <% if(user.admin){ %>
            <%- include('partials/navAdmin') %>
        <% }else{ %>
            <%- include('partials/navUser') %>
        <% } %>
    <% }else{ %>
        <%- include('partials/nav') %>
    <% } %>
    
    <header>
        <div class="container">
            <h1>Nos appareil GPS </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem dolore soluta placeat esse sed ullam impedit reprehenderit corporis corrupti non! A beatae adipisci quibusdam possimus reiciendis dicta mollitia ex eligendi.</p>
            <div class="btns">
                <a href="/boutique">Nos Produits</a>
                <a href="/contact">Contactez-nous</a>
            </div>
        </div>
    </header>
    <section class="line-products">
        <h2>Découvrez notre gamme de produits</h2>
        <div class="produits">
            <div>
                <h3>Rapide & Facile</h3>
                <p>Installation incroyablement simple pour profiter des avantages de la télématique de la manière la plus rapide possible. Aucune compétence ou outil particulier n'est nécessaire pour monter ces appareils.</p>
                <a href="/boutique">Voir Plus</a>
                <img src="/public/img/elements/tracker-fast-easy-840xAuto.webp" alt="">
            </div>
            <div>
                <h3>Basic</h3>
                <p>De riches fonctionnalités de suivi à appliquer dans une variété de cas d'utilisation pour un prix très compétitif. Le FMB920 est notre best-seller avec plus de 3 millions d'unités vendues dans le monde.</p>
                <a href="/boutique">Voir Plus</a>
                <img src="/public/img/elements/tracker-basic-840xAuto.webp" alt="">
            </div>
            <div>
                <h3>Avancée</h3>
                <p>Des appareils dotés de fonctionnalités matérielles flexibles et de solutions complètes, notamment l'authentification du conducteur et le suivi du comportement. <font style="vertical-align: inherit;">Surveillez les données du véhicule de la manière la plus précise.</font></p>
                <a href="/boutique">Voir Plus</a>
                <img src="/public/img/elements/tracker-advanced-840xAuto.webp" alt="">
            </div>
            <div>
                <h3>Professionel</h3>
                <p>Des solutions complètes pour les cas d'utilisation les plus exigeants pour télécharger des fichiers tachygraphiques, lire les données du bus CAN et connecter divers équipements externes.</p>
                <a href="/boutique">Voir Plus</a>
                <img src="/public/img/elements/tracker-professional-840xAuto.webp" alt="">
            </div>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>