body{
    padding-top: 80px;
}
header{
    min-height: 60vh;
}
header h1{
    text-align: center;
    margin: 20px auto;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}