nav{
    background-color: transparent;
}
header{
    background-image: url(/public/img/background/background_header_products.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 80vh;
    padding-top: 10.2vh;
}
header .container{
    max-width: 700px;
    margin: 0px 25px 0 6%;
}
header .container h1{
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 50px 0 0;
}
header .container p{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding: 50px 0 0;
    line-height: 150%;
    font-weight: 200;
}
header .container .btns{
    display: flex;
    align-items: center;
    justify-content: start;
}
header .container a{
    padding: 15px 24px;
    border-radius: 6px;
    margin: 25px 12px 0 0;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    background-color: white;
    color: rgb(0, 9, 131);
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    transition: color 0.3s, background-color 0.3s;
}
header .container a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.line-products{
    margin: 0;
    background-image: url(/public/img/background/bg-wave.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.line-products h2{
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    color: rgb(0, 9, 131);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 0px 0 50px;
    text-transform: uppercase;
    padding: 100px 0 0;
}
.line-products .produits{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 68%;
    min-width: calc(345px);
    margin: 15px auto;
}
.line-products .produits div{
    flex-basis: 38%;
    border-radius: 6px;
    flex-grow: 1;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(241, 242, 244, 1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
}
.line-products .produits div:hover{
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}
.line-products .produits div h3{
    text-align: center;
    margin: 15px;
    font-size: 1.55rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.line-products .produits div p{
    width: 80%;
    min-width: 325px;
    font-weight: 300;
    margin: 15px auto;
    text-align: center;
    line-height: 150%;
}
.line-products .produits div a{
    display: block;
    margin: 15px auto;
    text-decoration: none;
}
.line-products .produits div img{
    width: 100%;
}
footer p{
    margin: 15px;
    text-align: center;
}
@media screen and (max-width: 1100px) {
    header{
        padding-top: 4vh;
    }
    header .container {
        margin: 35px auto;
    }
    header .container h1{
        font-size: 2.2rem;
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 50px 0 0;
    }
    header .container p{
        padding: 15px 20px;
        margin: 25px auto;
        text-align: center;
        font-size: 1.2rem;
        text-shadow: 1px 1px 1px black;
    }
    header .container a{
        padding: 12px 0;
        width: 100%;
        margin: 5px 5px 25px;
        font-size: 1.2rem;
        text-align: center;
    }
    .line-products h2{
        font-size: 2rem;
    }
}