body{
    padding-top: 90px;
}
nav{
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
nav ul li:nth-child(2) a{
    color: rgb(55, 92, 255);
}
h1{
    margin: 50px auto;
    text-align: center;
}
.top-vente{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
    margin: 15px auto;
    width: 90%;
    background-color: #addcff;
    border-radius: 6px;
    padding: 15px 0;
    min-height: 80vh;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
}
.top-vente a{
    display: block;
    text-decoration: none;
    color: black;
}
.top-vente .produit{
    width: calc(95%);
    margin: 10px auto;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
}
.top-vente .produit img{
    width: 100%;
    margin: 5px;
    border-radius: 6px;
}
.top-vente .produit h4{
    font-size: 1.4rem;
    margin: 15px 0;
}
.top-vente .produit .price{
    margin: 15px 0;
}
.top-vente .produit .price span:not(.produit .price .prix){
    margin: 5px 0;
    display: block;
}
.top-vente .produit .price .prix{
    color: green;
}
